
@keyframes boxesodd {
    0%   {
        background-color: #f5f5f5;
        box-shadow: 0 0 0px 0px #00000017;
        transform: scale(1);
    }
    100%  {
        background-color: #fff;
        box-shadow: 0 0 19px 5px #00000017;
        transform: scale(1.01);
    }
}



@keyframes boxeseven {
    0%  {
        background-color: #fff;
        box-shadow: 0 0 19px 5px #00000017;
        transform: scale(1);
    }
  100%   {
        background-color: #f5f5f5;
        box-shadow: 0 0 0px 0px #00000017;
        transform: scale(1.01);
    }
}
// @keyframes moveup {
//     0%   {position: relative; top: 0%;}
//     100%  {position: relative; top: -246px;}
// }



