@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: $fontPrimary;
}
h1, h2, h3, h4, h5, h6{
    font-family: $fontPrimary;
    margin: 0 !important;
}
a{
    text-decoration:none !important;
}
ul{padding:0 !important;}

p{
    font-family: $fontPrimary;
    margin:0 !important;
    padding:0;
    line-height: 25px;
    font-size: 15px;
}

//Common Css
.sec-heading{
    font-weight: $Bold;
    color: #004aad;
    font-size: 32px;
    position: relative;
    @include md{
        font-size: 27px;
    }
    @include sm{
        font-size: 25px;
    }
    @include sm{
        font-size: 22px;
    }
}

.owl-stage-outer {
    padding: 0 !important;
}
.owl-stage {
    padding-bottom: 5px !important;
}
.owl-carousel {
    @include lg{
        margin: 0 !important;
    }
}
.owl-theme .owl-nav {
    @include sm{
        margin: 0 auto;
    }
}

.owl-stage {
    display: flex;
}
/* Responsive Menu Bar Animation */
.navbar-light .navbar-toggler {
    border: none;
    outline: none;
    padding: 0;
}
  #nav-icon3{
    width: 36px;
    height: 20px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  
  #nav-icon3 span {
    display: block;
    position: absolute;
    height: 2.3px;
    width: 100%;
    background: #fff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  
  
  
  #nav-icon3 span:nth-child(1) {
    top: 0px;
    width: 20px;
    transform: translateX(-50%);
    left: 50%;
  }
  
  #nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
    top: 8px;
  }
  
  #nav-icon3 span:nth-child(4) {
    top: 16px;
    width: 20px;
    transform: translateX(-50%);
    left: 50%;
  }
  
  #nav-icon3.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  
  #nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  #nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  #nav-icon3.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  #nav-icon3.open span{
    width: 71%;
  }
  
/* Responsive Menu Bar Animation */
//Common Css

// @include FlexDAJ($d-fl, $di-ro,  $al-ce,  $ju-be);
.main-header.header-sticky {
    position: fixed;
    width: 100%;
    animation: smoothScroll 1s forwards;
    background-color: #004aad;
    z-index: 99;
    @include lsm{
        animation: none;
        position: initial;
    }
    
}
@keyframes smoothScroll {
	0% {
		transform: translateY(-40px);
	}
	100% {
		transform: translateY(0px);
	}
}
.main-header{
    width: 100%;
    padding: 17px 0;
    position: absolute;
    top: 0;
    z-index: 99;
    .container-sm{
        @include md{
            max-width: 640px !important;
        }
    }
    .logo{
        img{
            width: 100%;
            position: relative;
            z-index: 1;
            @include md{
                width: 84%;
            }
            @include sm{
                width: 100%;
            }
        }
    }
    .header-right-main {
        position: absolute;
        width: 100%;
        top: 0;
        right: 0;
        .header-rgt{
            @include FlexDAJ($d-fl, $di-ro,  $al-ce,  $ju-be);
            width: 80%;
            margin-left: auto;
            @include breakpoint(1600px){
                width: 87%;
            }
            @include breakpoint(1440px){
                width: 96%;
            }
            @include breakpoint(1366px){
                width: 100%;
            }
            @include breakpoint(1199px){
                width: 85%;
            }
            @include lg{
                width: 97%;
            }
            @include md{
                width: 51%;
            }
            @include lsm{
                justify-content: flex-end;
            }
            .header-cont{
                @include lsm{
                    display:none;
                }
                p{
                    color: $white;
                    position: relative;
                    @include md{
                        font-size: 13px;
                    }
                    @include sm{
                        font-size: 12px;
                    }
                    @include lsm{
                        padding-right: 22px;
                    }
                    &::after{
                        @include center(vertical);
                        content:'';
                        position:absolute;
                        background-color: $white;
                        height:1px;
                        width: 52%;
                        right: -59%;
                        @include breakpoint(1600px){
                            width: 36%;
                            right: -43%;
                        }
                        @include breakpoint(1366px){
                            width: 29%;
                            right: -34%;
                        }
                        @include breakpoint(1280px){
                            width: 29%;
                            right: -32%;
                        }
                        @include breakpoint(1199px){
                            width: 48%;
                            right: -52%;
                        }
                        @include lg{
                            width: 38%;
                            right: -42%;
                        }
                        @include md{
                           display: none;
                        }
                        @include sm{
                            display:none;
                        }
                    }
                }
            }
            .con-ser-desk{
                @include lsm{
                    display: none;
                }
                .dropdown{
                    transition: all 0.5s;
                    .dropdown-menu{
                        border-radius: 0;
                        li{
                            .dropdown-item{
                                padding: 6px 8px;
                                font-size: 12px;
                                color: #004aad;
                                border-bottom: 1px solid #ccc;
                                img {
                                    width: 18px;
                                }
                            }
                        }
                    }
                    button{
                        color: $white;
                        background-color: transparent;
                        border-color: transparent;
                        outline: none;
                        // box-shadow: 0 0 0 0 transparent !important;
                        border-bottom: 2px solid $white;
                        border-radius: 0;
                        font-size: 16px;
                        font-weight: $SemiBold;
                        transition: all 0.5s;
                        padding: 4px 11px;
                        @include md{
                            font-size: 13px;
                         }
                        @include sm{
                           padding: 7px 8px;
                           font-size: 12px;
                        }
                        &::after{
                            display:none !important;
                        }
                        &:hover{
                            box-shadow: 0px -40px 0px 0px inset $white !important;
                            color: #004aad;
                        }
                    }
                    &:hover{
                        .dropdown-menu{
                            display:block;
                        }
                    }
                }
            }
            .menu-right{
                display: flex;
                justify-content: flex-end;
                .menu-inner {
                    display: flex;
                    justify-content: flex-end;
                    button {
                        background: #004aad;
                        padding: 28.5px 23px;
                        border: none;
                        @include md{
                            padding: 30.5px 18px; 
                        }
                        @include lsm{
                            position: fixed;
                            z-index: 9999;
                        }
                    }
                    #collapseWidthExample {
                        position: absolute;
                        top: 0;
                        right: 82px;
                        height: 77px;
                        // display: flex;
                        // align-items: center;
                        @include md{
                            right: 62px;
                        }
                        @include lsm{
                            right: 0;
                            height: 100vh;
                            position: fixed;
                            z-index: 999;
                        }
                        .card-body {
                            padding: 0;
                            border-radius: 0;
                            background: #004aad;
                            border: none !important;
                            @include breakpoint(1366px){
                                width: 707px !important;
                            }
                            @include breakpoint(1280px){
                                width: 623px !important;
                            }
                            @include lg{
                                width: 530px !important;
                            }
                            @include md{
                                width: 427px !important;
                            }
                            @include lsm{
                                width: 251px !important;
                                height: 100%;
                            }
                            nav {
                                background: #004aad;
                                border: none;
                                padding: 9px 0;
                                @include md{
                                    padding:0;
                                }
                                @include lsm{
                                    padding: 58px 0 0;
                                }
                                #navbarNav{
                                    @include lsm{
                                        height: 100vh;
                                    }
                                    .navbar-nav{
                                        flex-direction: $di-ro;
                                        @include lsm{
                                         flex-direction: $di-co;
                                        }
                                        .nav-item{
                                            .nav-link{
                                                color:#fff;
                                                padding: 17.5px 32px;
                                                @include breakpoint(1280px){
                                                    padding: 17.5px 22px;
                                                }
                                                @include breakpoint(1199px){
                                                    padding: 17.5px 20px;
                                                }
                                                @include lg{
                                                    padding: 19.5px 18px;
                                                    font-size: 13px;
                                                }
                                                @include md{
                                                    padding: 30.5px 10px;
                                                }
                                                @include lsm{
                                                    padding: 0 0 20px;
                                                }
                                            }
                                        }
                                    }
                                    .center-img-res{
                                        display: none;
                                        position: relative;
                                        @include lsm{
                                            display:block;
                                        }
                                        .menu-circle {
                                            width: 76%;
                                            position: absolute;
                                            top: -20px;
                                        }
                                        .menu-circle1 {
                                            width: 35%;
                                            position: absolute;
                                            right: 0;
                                            bottom: -172px;
                                        }
                                    }
                                    .lsm-screen-menu{
                                        display: none;
                                        margin-top: 100%;
                                        @include lsm{
                                            display:block;
                                        }
                                        h2{
                                            color: #fff;
                                            font-weight: 300;
                                            font-size: 24px;
                                            border-bottom: 1px solid #fff;
                                            padding-bottom: 12px;
                                            line-height: 31px;
                                        }
                                        h4{
                                            color: #fff;
                                            font-size: 15px;
                                            font-weight: 600;
                                            padding: 13px 0 11px;
                                        }
                                        ul{
                                            list-style-type: none;
                                            li{
                                                a{
                                                    display: flex;
                                                    color: #fff;
                                                    font-size: 14px;
                                                    padding: 5px 0;
                                                    img{
                                                        filter: brightness(0) invert(1);
                                                        width: 15px;
                                                        margin-right: 10px;
                                                    }
                                                }
                                            }
                                        }
                                        .con-ser-desk{
                                            display:block;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

#main-header-sticky{
    position: relative;
    background: #004aad !important;
    z-index: 9999;
}

.main-banner{
    background:url(../img/main-banner.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    // padding: 220px 0 430px;
    height: 100vh;
    overflow: hidden;
    position:relative;
    @include lg{
       height: auto;
    }
    .banner-layer{
        position:absolute;
        bottom: -160px;
        width:100%;
        @include breakpoint(1366px){
            bottom: -100px;
        }
        @include md{
            display:none;
        }
    }
    .container, .row{
        height:100%;
    }
    .banner-content{
        position: relative;
        z-index:1;
        @include lg{
            padding: 110px 0 50px;
        }
        @include md{
            padding: 153px 0 50px;
        }
        @include sm{
            padding: 126px 0 50px;
        }
        h1,h3,p{
            color:$white;
        }
        h1{
            font-weight:$Bold;
        }
        h3{
            padding:10px 0 10px;
            font-weight:$Light;
        }
        .btn-default{
            @include btn-default;
        }
    }
}



.about-us{
    background-attachment: fixed;
    // background-image: url(../img/about-bg.png);  
    background-repeat: no-repeat;
    background-size: cover;
    padding: 140px 0 220px;
    position: relative;
    overflow: hidden;
    @include lg{
        padding: 110px 0 60px;
    }
    @include md{
        padding: 110px 0 10px;
    }
    @include sm{
        padding: 40px 0 10px;
    }
    .building-animation {
        position: absolute;
        bottom: 0;
        z-index: -1;
        @include lg{
            display: none;
        }
    }
    .img-building{
        position: relative;
        bottom: -140px;
        @include breakpoint(1440px){
            bottom: -60px;
            width: 100%;
        }
    }
    .about-us-img{
        padding: 110px 0 0;
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        @include lg{
            padding: 30px 0 0;
         }
         @include lsm{
            justify-content: center;
        }
        @include sm{
            padding: 0;
        }
        @include sm{
           padding: 0;
        }
        // .abt-thumb{
        //     position: relative;
        //     background-image: url(../img/about-thumb.jpg);
        //     width: 372px;
        //     height: 462px;
        //     background-repeat: no-repeat;
        //     background-size: cover;
        //     background-position-x: 50%;
        //     background-position-y: 90%;
        //     background-size: 100%;
        // }
        .circle-elements{
            pointer-events: none;
            @include sm{
                display: none;
            }
            .small-cirlc {
                position: absolute;
                top: -10px;
                right: -40px;
                width: 127px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                transform: rotate(-34deg);
                @include lg{
                    top: -60px;
                }
                @include lsm{
                  right: 0px;
                }
            }
            .bg-circle {
                position: absolute;
                left: -50px;
                z-index: -1;
                width: 100%;
                top: -100px;
            }
        }
        .yea-exp {
            border: 2px solid #93bdf7;
            background-color: #004aad;
            color: #fff;
            padding: 2px 20px 0 0;
            text-decoration: none;
            transition: all 0.5s;
            font-size: 57px;
            font-weight: 600;
            display: flex;
            align-items: center;
            position: absolute;
            bottom: -20px;
            right: -20%;
            @include lsm{
                left:4%;
                right: auto;
            }
            @include sm{
                transform: translateX(-50%);
                left: 50%;
                right: auto;
                padding: 2px 13px;
                font-size: 41px;
            }
            .w-st{
                font-size: 57px !important;
                font-weight: 700 !important;
                position: relative;
                left: 10px;
                @include sm{
                    font-size: 41px !important;
                    left: 7px;
                }
            }
            span {
                font-size: 16px;
                margin-left: 10px;
                font-weight: 300;
                @include sm{
                    font-size: 11px;
                }
            }
        }
    }
    .about-content{
        .objec-list{
            li{
                display: flex;
                line-height: 25px;
                padding-bottom: 15px;
                align-items: flex-start;
                img {
                    margin-right: 14px;
                }
            }
        }
        @include md{
            padding-top:45px;
        }
        h1{
            padding-bottom: 15px;
        }
        // p{
        //     padding-right: 10%;
        // }
    }
}

.projects-area{
    background-image: url(../img/project-count-bg.jpg);
    background-position: top;
    background-repeat: no-repeat;
 .project-box{
    @include FlexDAJ($d-fl, $di-co, $al-ce, $al-ce);
    height: 100%;
    text-align: center;
    padding: 60px 12%;
    background-color: $white;
    margin-top: 30px;
    box-shadow: 0 20px 40px 1px #00000014;
    @include breakpoint(1440px){
        padding: 33px 7%;
    }
    @include breakpoint(1366px){
        padding: 17px 5%;
    }
    @include md{
        padding: 67px 5%;
        box-shadow: 0 -1px 6px 1px #00000014;
    }
    @include xs{
        padding: 34px 5%;
    }
     h1,h4{
       color: #004aad;  
     }
     h1{
         font-weight: $Bold;
         font-size: 62px;
         line-height: 58px;
         @include breakpoint(1280px){
            font-size: 47px;
            line-height: 47px;
         }
     }
     h4{
         padding: 10px 0;
         font-weight: $SemiBold;
         @include breakpoint(1366px){
            font-size: 24px;
         }
     }
     h6{
         color: #888;
         font-weight: $Light;
         padding:3px 0 5px;
     }
 }
}

.tech-partners{
    padding: 188px 0 250px;
    @include breakpoint(1366px){
        padding: 148px 0 270px;
    }
    @include breakpoint(1280px){
        padding: 148px 0 300px;
    }
    @include lg{
        padding: 98px 0 160px;
    }
    @include md{
      padding: 18px 0 50px;
    }
    @include xs{
        padding: 18px 0 28px;
      }
    .container{
        position: relative;
        .partner-content{
            position: relative;
            padding: 30px 0 380px;
            @include breakpoint(1366px){
                padding: 30px 0 200px;
            }
            @include breakpoint(1199px){
                padding: 30px 0 248px;
            }
            @include md{
                padding: 30px 0 0px;
            }
            .sec-area{
                .sec-heading{
                    @include lsm{
                        text-align:center;
                    }
                }
                h2{
                    padding-top: 10px;
                    font-weight: $Light;
                    color: #004aad;
                    line-height: 43px;
                    @include lsm{
                        text-align:center;
                        line-height: 27px;
                        font-size: 19px;
                    }
                    
                    b{
                        font-weight: $Bold;
                    }
                    br{
                        @include sm{
                            display:none;
                        }
                    }
                }
            }
            
            .circle-elements{
                pointer-events: none;
                @include md{
                    display:none;
                }
                .small-cirlc {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 127px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    transform: rotate(37deg);
                }
                .bg-circle {
                    position: absolute;
                    left: -100px;
                    z-index: 0;
                    width: 100%;
                    top: -99px;
                    @include lg{
                        top: -42px;
                    }
                }
            }
        }
    
        .partner-boxes {
            // pointer-events: none;
            width: 59%;
            position: absolute;
            top: -30px;
            right: 0;
            padding-bottom: 140px;
            display: grid;
            grid-template-columns: repeat(3,33%);
            grid-template-rows: repeat(3,33%);
            animation: movedown 5s infinite alternate;
            @include lsm{
                grid-template-columns: repeat(2, 50%);
                grid-template-rows: repeat(2, 185px);
            }
            @include sm{
                grid-template-columns: repeat(2, 50%);
                grid-template-rows: repeat(2, 145px);
            }
            @include md{
                position: relative;
                width: 100%;
                padding-bottom: 60px;
                top: 50px;
                padding-right: 0;
                padding-left: 0;
            }
            .canvas-box-slider{
                img{
                    width: auto !important;
                    margin: 0 auto !important;
                }
            }
            .canvas-box {
                width: 100%;
                background-color: #fff;
                box-shadow: 0 0 26px 1px #f5f5f5;
                position:relative;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                @include lsm{
                    height: 185px;
                }
                @include sm{
                    height: 153px;
                }
                &:first-child{
                    background-color: transparent !important;
                    box-shadow: 0 0 !important;
                    @include lsm{
                        display: none;
                    }
                }
                &:nth-child(odd){
                    box-shadow: 0 0 19px 5px #00000017;
                    position: relative;
                    animation: boxesodd 3s infinite alternate;
                    // &:after{
                    //     content: '';
                    //     position: absolute;
                    //     width: 100%;
                    //     height: 100%;
                    // }
                }
                &:nth-child(even){
                    background-color: #f5f5f5;
                    animation: boxeseven 3s infinite alternate;
                }
                a{
                    padding: 100px 6%;
                    transition:all 0.5s;
                    &:hover{
                        img{
                            transform:scale(1.1);
                            transition:all 0.5s;
                        }
                    }
                    &:hover{
                        .canva-hover{
                            bottom: 24%;
                            @include md{
                                bottom: 16%;
                            }
                        }
                    }
                    .canva-hover{
                        position: absolute;
                        bottom: -100%;
                        left: 0;
                        width: 100%;
                        text-align: center;
                        transition:all .5s;
                        p{
                            color: rgba(0, 74, 173, 1);
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            .hvr-line{
                                height: 1px;
                                width: 20px;
                                background-color: #004aad;
                                display: block;
                                margin: 0 2px;
                            }
                        }

                    }
                    @include breakpoint(1366px){
                        padding: 82px 6%;
                    }
                    @include breakpoint(1199px){
                        padding: 69px 6%;
                    }
                    @include sm{
                        padding: 44px 6%;
                    }
                    @include xs{
                        padding: 35px 6%;
                    }
                    img{
                        transform:scale(1);
                        transition:all 0.5s;
                    }
                    
                }
            }
            // .canvas-box:nth-child(2){
            //     grid-area: 1/2/2/3;
            // }
            // .canvas-box:nth-child(3){
            //     grid-area: 1/3/2/4;
            // }
            // .canvas-box:nth-child(4){
            //     grid-area: 2/1/3/2;
            //     animation: movedown 5s infinite alternate;
            // }
            // .canvas-box:nth-child(5){
            //     grid-area: 2/2/3/3;
            //     animation: movedown 5s infinite alternate;
            // }
            // .canvas-box:nth-child(6){
            //     grid-area: 2/3/3/4;
            //     animation: movedown 5s infinite alternate;
            // }
            // .canvas-box:nth-child(7){
            //     grid-area: 3/1/4/2;
            //     animation: moveup 5s infinite alternate;
            // }
            // .canvas-box:nth-child(8){
            //     grid-area: 3/2/4/3;
            //     animation: moveup 5s infinite alternate;
            // }
            
            // .canvas-box:nth-child(9){
            //     grid-area: 3/3/4/4;
            //     animation: moveup 5s infinite alternate;
            // }
        }
    }
}

.working-area{
    background-image: url(../img/area-we-working-banner.jpg);
    padding: 70px 0;
    @include md{
        padding: 40px 0;
    }
    @include sm{
        padding: 30px 0;
    }
    @include OwlNavDots;
    .sec-area{
        h1{
            color: $white;
            padding-bottom: 35px;
            @include sm{
                padding-bottom: 13px !important;
            }
        }
    }
    .slide-item{
        height: 100%;
        border:1px solid $white;
        margin: 0 1px;
        .project-box{
            background-color: transparent;
            padding: 24px 3% 10px;
            margin-top: 0px;
            height: 100%;
            justify-content: $ju-st;
            @include lg{
                padding: 24px 3% 6px;
            }
            h1,h4,p{
                color: $white;
            }
            h4{
                font-weight: $SemiBold;
                padding-bottom: 7px;
                @include breakpoint(1366px){
                    font-size: 17px;
                }
            }
        }
    }
}



.director-message{
    padding: 148px 0 80px !important;
    @include breakpoint(1280px){
        padding: 118px 0 80px !important;
    }
    @include lg{
        padding: 38px 0 50px !important;
    }
    @include md{
        padding: 17px 0 30px !important;
    }
    .sec-heading{
        padding-bottom: 15px;
       
    }
    .partner-content{
        padding: 30px 0 100px !important;
        @include lg{
           padding: 30px 0 50px !important;
        }
        @include sm{
            padding: 30px 0 30px !important;
        }
        .circle-elements{
            .small-cirlc{
                @include lg{
                    bottom: -30px !important;
                    transform: rotate(32deg) !important;
                }
            }
        }
        .abt-thumb-main{
            position: relative;
            display: table;
            .abt-thumb{
                position: relative;
                // background-image: url(../img/director.png);
                // width: 372px;
                // height: 462px;
                // background-repeat: no-repeat;
                // background-size: cover;
                // background-position-x: 50%;
                // background-position-y: 23%;
                // background-size: 100%;
                @include sm{
                    width: 100%;
                }
            }
            .hover-thumb{
                       width: 100%;
                        height: 100%;
                        position: absolute;
                        z-index: 999;
                        @include center(both);
                    a{
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        &:hover{
                            img{
                                transform: scale(1);
                                transition: all 0.5s;
                                opacity:1;
                            }
                        }
                        img{
                            // border: 2px solid #Fff;
                            // border-radius: 100%;
                            // width: 90px;
                            // height: 90px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            opacity:0;
                            transform: scale(0);
                            transition: all 0.5s;
                        }
                    }
            }
        }
    }
    .about-content{
        h5{
            font-weight: $Bold;
        }
    }
}

.services-area {
    padding: 100px 0;
    background-color: #f5f5f5;
    position: relative;
    overflow: hidden;
    height: 100vh;
    @include breakpoint(1600px){
        padding: 50px 0;
    }
    @include breakpoint(1440px){
        padding: 40px 0;
    }
    @include lg{
        padding: 80px 0;
    }
    @include md{
        padding: 29px 0;
        height: auto;
    }
    @include lsm{
        padding: 45px 0;
    }
    @include sm{
        padding: 30px 0;
        height: auto;
    }
    .s2-shape {
        position: absolute;
        top: -19%;
        right: -5%;
        @include breakpoint(1600px){
            top: -22%;
            right: -7%;
        }
        @include breakpoint(1440px){
            top: -24%;
            right: -10%;
        }
        @include lg{
            top: -26%;
            right: -16%;
        }
        @include md{
            display: none;
        }
       
    }
    .s1-shape {
        position: absolute;
        bottom: -19%;
        left: -5%;
        @include breakpoint(1600px){
            bottom: -23%;
            left: -8%;
        }
        @include breakpoint(1440px){
            bottom: -29%;
            left: -11%;
        }
        @include lg{
            bottom: -28%;
            left: -163px;
        }
        @include md{
            display: none;
        }
    }
    .hu-services-slider{
        .carousel-indicators{
            position: relative;
            margin: 0;
            border-bottom: 2px solid #cccc;
            padding-bottom: 11px;
            padding-top: 44px;   
            @include lg{
                padding-top: 14px;
            }
            .col-lsm{
                @include lsm{
                    width: 33%;
                }     
            }
            button {
                width: 100%;
                background-color: transparent;
                text-indent: 0px !important;
                font-size: 28px;
                font-weight: $SemiBold;
                color: #888;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 9px 0px;
                @include breakpoint(1440px){
                    font-size: 25px;
                }
                @include breakpoint(1199px){
                    font-size: 19px;
                }
                @include md{
                    font-size: 15px;
                }
            }
            .line-move {
                width: 33.3% !important;
                height: 2px;
                background: #004aad;
                position: absolute;
                left: 0;
                bottom: -1px;
                display: flex;
                justify-content: center;
                align-items: center;
            }   
            .active{
                color: #004aad;
                transition: all 0.3s;
                // &::after{
                //     position: absolute;
                //     bottom:-2px;
                //     content:'';
                //     height:2px;
                //     width: 33.33333%;
                //     left:0;
                //     background-color: #004aad;
                //     transition: all 0.9s;
                // }
                // &::before{
                //     bottom: -16px;
                //     position: absolute;
                //     content:'';
                //     width: 33.33333%;
                //     background-image: url(../img/navigation-circle.svg);
                //     background-position: center;
                //     background-repeat: no-repeat;
                //     padding: 15px 0;
                //     z-index: 99;
                // }
            }
            .col-lg-4:nth-child(2){
                .active{
                    transition: all 0.9s;
                    &::after{
                        
                        @include center(horizontal);
                        transition: all 0.9s;
                    }
                }
            }
            .col-lg-4:nth-child(3){
                .active{
                    transition: all 0.9s;
                    &::after{
                       right: 0 !important;
                       left:initial !important;
                       transition: all 0.9s;
                    }
                }
            }
        }
        .carousel-inner{
            .back-set-rel{
                position:relative;
                padding: 33px 0;
                display: block;
                @include breakpoint(1600px){
                    padding: 25px 0;
                }
                .back-supp{
                    font-size:20px;
                    color: #004aad;
                    opacity: 0;
                    display: block;
                    position: absolute;
                    left:-30px;
                    transition:all 0.5s;
                    @include center(vertical);
                    @include lsm{
                        font-size:16px;
                    }
                }
            }
            .carousel-item{
                &.active{
                    .back-set-rel{
                        .back-supp{
                            display:none;
                        }
                    }
                }
                .hu-it-serv{
                    .owl-dots{
                        margin: 0 auto;
                    }
                    .owl-nav{
                        margin-top: 0px;
                        button {
                            background: #004aad !important;
                            border-radius: 0;
                            width: 27px;
                            height: 27px;
                            i{
                                color: #fff;
                            }
                        }
                    }
                }
                .application-wrap{
                    @include FlexDAJ($d-fl, $di-ro , $al-st, $ju-st);
                    .app-box {
                        width: calc(30% + 3px);
                        background-color: #fff;
                        box-shadow: 0 0 31px 2px #f0e7e7;
                        margin-bottom: 45px;
                        display: flex;
                        align-items: center;
                        @include breakpoint(1600px){
                            margin-bottom: 28px;
                        }
                        @include breakpoint(1199px){
                            width: calc(29% + 11px);
                        }
                        @include md{
                            width: 47%;
                            margin-bottom: 23px;
                        }
                        @include sm{
                            width: 100%;
                        }
                        &:nth-child(2), &:nth-child(5), &:nth-child(8), &:nth-child(11){
                            margin: 0 4.5%;
                            @include lg{
                                margin-inline: 4.5%;
                            }
                            @include md{
                                margin-inline: 0%;
                            }
                        }
                        &:nth-child(odd){
                            @include md{
                                margin-right: 5.5%;
                            }
                        }
                        &:last-child{
                           margin-right: 0%;
                        }
                        .app-header{
                            display: flex;
                            align-items: center;
                            width: 100%;
                            padding: 29px 33px;
                            box-shadow: 0 0 31px 2px #f0e7e778;
                            @include breakpoint(1600px){
                                padding: 19px 23px;
                                height: 103px;
                            }
                            @include breakpoint(1366px){
                                height: 93px;
                            }
                            @include lg{
                                height: 82px;
                            }
                            @include md{
                                padding: 20px 19px;
                            }
                            @include lsm{
                                height: 86px;
                            }
                            @include sm{
                                padding: 13px 11px;
                                height: 76px;
                            }
                            .app-icon {
                                @include breakpoint(1600px){
                                    width: 49px;
                                }
                                @include lg{
                                    width: 53px;
                                }
                                @include sm{
                                    width: 32px;
                                }
                            }
                        }
                        .app-content{
                            display:none;
                            margin-top: 34px;
                            padding: 0 31px 31px;
                            h4, h5 {
                                font-weight: $Bold;
                            }
                            p{
                                padding: 15px 0 15px;
                                color: #888;
                            }
                            .social-list{
                                padding-top: 15px !important;
                                display: flex;
                                flex: wrap;
                                li{
                                    list-style-type:none;
                                    margin-right: 10px;
                                    a{
                                        padding: 0 15px 0 30px;
                                        height: 75px;
                                        background: #e1edff;
                                        @include FlexDAJ($d-fl, $di-ro,  $al-ce,  $ju-ce);
                                        transition: all 0.5s;
                                        position: relative;
                                        text-decoration: none;
                                        @include md{
                                            padding: 10px 10px;
                                            height: initial;
                                        }
                                        &:hover{
                                            transition: all 0.5s;
                                            padding-right: 50px;
                                            @include md{
                                                padding-right: 10px !important;
                                            }
                                            p{
                                                transition: all 0.5s;
                                                transform: scale(1);
                                                font-size: 18px;
                                            }
                                            // @include md{
                                            //     transform: scale(0);
                                            //     font-size: 0px;
                                            // }
                                        }
                                        p{
                                            transform: scale(0);
                                            font-size: 0px;
                                            margin-left: 17px !important;
                                            font-weight: $SemiBold;
                                            color: #004aad;
                                            transition: all 0.5s;
                                            transform-origin: left;
                                            @include lg{
                                                display:none !important;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .app-box.current{
                        width: 100%;
                        transition: all 0.5s;
                        flex-wrap: wrap;
                        .app-header {
                            @include lg{
                                padding: 17px 9px;
                            }
                        }
                        .app-content {
                            @include breakpoint(1280px){
                                padding: 0 21px 21px;
                            }
                            @include lg{
                                padding: 0 21px 11px;
                            }
                        }
                    }
                    
                    h3 {
                        font-weight: $SemiBold;
                        color: #004aad;
                        margin-left: 15px !important;
                        font-size: 19px;
                        @include breakpoint(1440px){
                            font-size: 18px;
                         }
                        @include breakpoint(1199px){
                           font-size: 17px;
                        }
                        @include lg{
                            font-size: 14px;
                        }
                        @include sm{
                            margin-left: 9px !important;
                        }
                    }
                    
                }
            }
        }
       
    }
        
}

// .line-move {
//     width: 33% !important;
//     height: 1px;
//     background: #000;
//     position: absolute;
//     left: 0;
//     transform: translate(-0%);
// }


footer{
    .inner-footer{
        padding: 62px 35px 25px;
        background-color: #004aad;
        margin: 0 3%;
        position: relative;
        @include md{
            padding: 32px 35px 25px;
        }
        @include sm{
            padding: 48px 12px 21px;
            margin: 0px 0;
        }
        &::after{
            content:'HUIT';
            font-size: 240px;
            color: $white;
            pointer-events: none;
            opacity: 0.04;
            position: absolute;
            top: -85px;
            right: 15px;
            font-weight: 700;
            @include breakpoint(1280px){
                font-size: 150px;
                top: -45px;
            }
        }
        h1, li, a{
            color: $white;
        }
        .footer-left-cont{
            .footer-logo{
                margin-bottom: 15px;
            }
            .address-detail{
                li{
                    line-height: 40px;
                    list-style: none;
                    font-size: 16px;
                    img{
                        margin-right:10px;
                    }
                }
            }
        }
        .footer-right{
            h1{
                font-size: 52px;
                padding-bottom: 15px;
                font-weight: $SemiBold;
                @include breakpoint(1280px){
                    font-size: 42px;
                }
                @include lg{
                    font-size: 36px;
                }
                @include sm{
                    font-size: 28px;
                }
            }
            ul{
                li{
                    line-height: 32px;
                    list-style: none;
                    font-size: 16px;
                }
            }
        }
        .copy-right{
            text-align: right;
            color: $white;
            @include sm{
                text-align: center;
            }
        }
    }
}
.projects-box-slider{
    margin: 0 !important;
}



svg {
    height: 100vh;  
    width: 100vw;
  }
  path {
    fill: none;
    // stroke: $white;
    stroke-width: 0.5px;
    vector-effect: non-scaling-stroke;
  }
  .animation-banner {
    position: absolute;
    top: 90px;
}


#particle-canvas {
    width: 109%;
    height: 100vh;
    vertical-align: middle;
  }


//   html.has-scroll-smooth header{
//     overflow: hidden;
//     position: fixed;
//     left: 0;
//     right: 0;
//     top: 0;
//     bottom: 0;  
// }

